/* Responsiveness */
/* Large devices */
@media (max-width: 1200px) {
    .image-container {
        width: 80%;
    }

    .image-container h1 {
        font-size: 5em;
    }
}

/* Tablets (portrait and landscape, 768px to 1199px) */
@media (max-width: 1199px) and (min-width: 768px) {
    .image-container {
        margin: 2em auto;
    }

    .image-container h1 {
        font-size: 3em;
    }

    .button {
        width: 70%;
        padding: 0.5em;
        font-size: 16px;
    }

    .work-container {
        flex-direction: column;
        align-items: center;
    }

    .work-item {
        width: 80%;
    }

    .nav-container {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        text-align: center;
    }

    .nav-container.show {
        max-height: 300px;
    }

    .nav-container a {
        margin: 20px 10px;
        width: 150px;
        height: 40px;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        margin-top: 10em;
        width: 50%;
        padding: 1em;
    }

    .contact-container {
        flex-direction: column;
        gap: 1em;
    }

    .home-introduction {
        padding: 2em 5em;
        width: 80%;
    }

    .home-introduction h2 {
        margin-right: auto;
    }

    .home-vertical-line {
        margin-left: 2em;
    }

    .home-introduction p {
        margin-left: 2em;
    }
}


/* Altro */

@media (max-width: 480px) {
    .image-container {
        width: 100%;
        padding: 1em;
    }

    .image-container h1 {
        font-size: 2em;
    }

    .button {
        width: 90%;
        font-size: 14px;
    }

    .work-description {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .image-container {
        margin: 2em auto;
    }

    .image-container h1 {
        font-size: 3em;
    }

    .button {
        width: 70%;
        padding: 0.5em;
        font-size: 16px;
    }

    .work-container {
        flex-direction: column;
        align-items: center;
    }

    .work-item {
        width: 80%;
    }

    .nav-container {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        text-align: center;
    }

    .nav-container.show {
        max-height: 300px;
    }

    .nav-container a {
        margin: 20px 10px;
        width: 150px;
        height: 40px;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        margin-top: 10em;
        width: 50%;
        padding: 1em;
    }

    .contact-container {
        flex-direction: column;
        gap: 1em;
    }
}



@media (width: 360px) and (height: 740px) {
    body {
        padding-top: 60px;
    }

    .image-container {
        width: 10em;
        margin: 1em auto;
        margin-bottom: 1em;
    }

    .image-container img {
        width: 30em;
        height: auto;
    }
    .image-container h1 {
        font-size: 4em;
        position: absolute;
        text-align: center;
        color: var(--WHITE);
        pointer-events: none;
        font-family: 'Bebas Neue';
    }
}