:root {
    --primaryColor: #000000;
    --secondaryColor: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
}

body {
    position: relative;
    font-family: 'Signika';
    background-color: var(--primaryColor);
}

nav {
    color: var(--secondaryColor);
    padding: 10px 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.nav-container a {
    padding: 5px;
    margin: 20px;
    margin-bottom: 0;
    width: 150px;
    height: 40px;
    color: var(--secondaryColor);
    text-decoration: none;
    border-radius: 15px 50px 30px;
    border: 2px solid var(--secondaryColor);
    box-shadow: 10px 10px;
    align-content: center;
}

.nav-container a:hover {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    border: 2px solid var(--primaryColor);
}

.image-container {
    width: 50em;
    margin: 3em auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px 50px;
    border: 10px solid var(--secondaryColor);
}

.image-container h1 {
    font-size: 8em;
    position: absolute;
    text-align: center;
    color: var(--secondaryColor);
    pointer-events: none;
    font-family: 'Bebas Neue';
}

.image-container button {
    position: absolute;
    color: var(--secondaryColor);
    font-size: 18px;
    margin-top: 15em;
    pointer-events: none;
    border-radius: 50px;
    border: 5px solid var(--secondaryColor);
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    padding: 1em;
    text-align: center;
    font-family: 'Signika';
}

.image-container a {
    color: var(--secondaryColor);
    text-decoration: none;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    margin: 2em auto;
    width: 80%;
}

#work, #about, #contact {
    padding: 2em;
    color: var(--secondaryColor);
    text-align: center;
}
