:root {
    --primaryColor: #000000;
    --secondaryColor: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    cursor: url('imgs/cursor.svg'), auto;
}

html,
body {
    -ms-overflow-style: none;
    /* IE e Edge */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari e Opera */
}

body {
    position: relative;
    font-family: 'Signika';
    background-color: var(--primaryColor);
    padding-top: 60px;
    cursor: url('imgs/cursor.svg'), auto;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);

}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 960px;
    max-height: 100%;
    margin: 0 auto;
    margin-bottom: 2%;
    transition: max-height 0.4s ease-out;


}

.nav-container a {
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 40px;
    color: var(--secondaryColor);
    text-decoration: none;
    border-radius: 15px 50px 30px;
    border: 2px solid var(--secondaryColor);
    box-shadow: 10px 10px;
    align-content: center;

}

.nav-container a:hover {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    border: 2px solid var(--primaryColor);
}

.image-container {
    width: 50em;
    margin: 4em auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px 50px;
    border: 10px solid var(--secondaryColor);
}

.image-container h1 {
    font-size: 8em;
    position: absolute;
    text-align: center;
    color: var(--secondaryColor);
    pointer-events: none;
    font-family: 'Bebas Neue';
}

.button {
    color: var(--secondaryColor);
    font-size: 18px;
    margin-top: 15em;
    border-radius: 50px;
    border: 5px solid var(--secondaryColor);
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    padding: 1em;
    text-align: center;
    font-family: 'Signika';
    text-decoration: none;
    position: absolute;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    cursor: url('imgs/cursor2.svg'), auto;
}

.button:hover {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border-color: none;
}

.image-container a {
    color: var(--secondaryColor);
    text-decoration: none;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    margin: 2em auto;
    width: 80%;
}

#work,
#about,
#contact {
    padding: 2em;
    color: var(--secondaryColor);
    text-align: center;
}

#my-favicon path {
    fill: rgb(255, 0, 0);
}

#work {
    padding: 2em;
    color: var(--secondaryColor);
    text-align: center;
}

.work-description {
    margin-bottom: 2em;
    font-size: 1.2em;
}

.work-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.work-item {
    background-color: var(--primaryColor);
    border: 2px solid var(--secondaryColor);
    border-radius: 15px;
    width: 250px;
    padding: 1em;
    text-align: center;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.work-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
}

.work-item h3 {
    margin-bottom: 0.5em;
    list-style-type: none;
    padding: 0;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    padding: 5px;
    border-radius: 5px;
}

.work-item p {
    color: var(--secondaryColor);
    font-size: 1em;
    text-align: justify;
}

.work-item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
}

#about {
    padding: 2em;
    color: var(--secondaryColor);
    text-align: center;
    background-color: var(--primaryColor);
    margin: 2em auto;
    border-radius: 15px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    max-width: 600px;
    text-align: center;
    margin-bottom: 2em;
}

.about-text p {
    text-align: justify;
    margin-top: 0.5em;
}

.about-text h3 {
    margin-top: 1em;
    color: var(--secondaryColor);
    
}

.about-text ul {
    list-style-type: none;
    padding: 0;
}

.about-text ul li {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

#text-experience {
    text-align: center;
    margin: 5px 0;
    padding: 5px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1001;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--secondaryColor);
    margin: 5px 0;
    transition: 0.4s;
}


/* Responsiveness */
@media (max-width: 1200px) {
    .image-container {
        width: 80%;
    }

    .image-container h1 {
        font-size: 5em;
    }
}

@media (max-width: 480px) {
    .image-container {
        width: 100%;
        padding: 1em;
    }

    .image-container h1 {
        font-size: 2em;
    }

    .button {
        width: 90%;
        font-size: 14px;
    }

    .work-description {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .image-container {
        margin: 2em auto;
    }

    .image-container h1 {
        font-size: 3em;
    }

    .button {
        width: 70%;
        padding: 0.5em;
        font-size: 16px;
    }

    .work-container {
        flex-direction: column;
        align-items: center;
    }

    .work-item {
        width: 80%;
    }

    .nav-container {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        text-align: center;
    }

    .nav-container.show {
        max-height: 300px;
    }

    .nav-container a {
        margin: 20px 10px;
        width: 150px;
        height: 40px;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        margin-top: 10em;
        width: 50%;
        padding: 1em;
    }
}